<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>globkuriermodule</name>
    <displayName><![CDATA[Globkurier integration]]></displayName>
    <version><![CDATA[3.3.6]]></version>
    <description><![CDATA[Official Globkurier integrationmodule for sending parcels]]></description>
    <author><![CDATA[GlobKurier.pl]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
    <confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>